*{
    box-sizing: border-box;
}

.strip{
    background-image:url("img/pexels-dids-1367036.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.strip .container{
    background-color: rgba(240, 248, 255, 0.404);
    min-height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.strip h1{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    width: 100%;
    text-align: center;
    font-family: 'Rubik Iso', cursive;
    font-size: 9em;
}

.strip a{
    display: block;
    position: absolute;
    top: 80vh;
    margin-top: 24px;
    font-size: 4em;
    text-decoration: none;
    color: black;
    transition: 800ms;
}
.strip a:hover{
    transform: translateY(20px);
}

main table li{
    padding: 8px;
}
main table .get{
    background-color: rgba(47, 134, 255, 0.308);
    border: 4px solid white;
}
main .get .method{
    background-color: rgba(0, 0, 255, 0.434);
    border-radius: 8px;
    margin: 4px;
}
main table .post{
    background-color: rgba(86, 165, 86, 0.308);
    border: 4px solid white;
}
main .post .method{
    background-color: rgba(40, 130, 79, 0.434);
    border-radius: 8px;
    margin: 4px;
}
main table .put{
    background-color: rgba(255, 145, 0, 0.466);
    border: 4px solid white;
}
main .put .method{
    background-color: rgba(255, 153, 0, 0.551);
    border-radius: 8px;
    margin: 4px;
}
main table .delete{
    background-color: rgba(247, 65, 65, 0.308);
    border: 4px solid white;
}
main .delete .method{
    background-color: rgba(255, 0, 0, 0.434);
    border-radius: 8px;
    margin: 4px;
}

footer{
    background-image:url("img/pexels-dids-1367036.jpg");
    background-position: right center;
    background-size: cover;
    min-height: 100px;
}
footer .container{
    min-height: 100px;
    background-color: rgba(240, 248, 255, 0.404);
    display: flex;
justify-content: center;
align-items: center;
}
